.select {
    -webkit-appearance: button;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    user-select: none;
    background-image: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media screen and (min-width: $size_mobile) {
        width: 200px;
        margin: 0 10px;
    }
}